:root {
  // HEADERS
  --h2-fs: 26px;
  --h2-fw: 400;
  --h2-lh: 35px;

  --h3-fs: 20px;
  --h3-fw: 400;
  --h3-lh: 26px;

  --h4-fs: 33px;
  --h4-fw: 500;
  --h4-lh: 43px;
  --h4-ls: 0;

  --h5-fs: 26px;
  --h5-fw: 400;
  --h5-lh: 35px;
  --h5-ls: 0;

  --body-lg-fs: 16px;

  --body-lg-fw: 700;

  --body-lg-lh: 27px;

  --body-md-fs: 14px;
  --body-md-fw: 400;

  --body-sm-fs: 12px;
  --body-sm-fw: 400;
  --body-sm-lh: 20px;
  --body-sm-ls: 10px;

  // MAIN COLORS
  --accent: #a18a68;
  --white: #ffffff;
  --black: #000000;

  // NEUTRAL COLORS
  --light-gray: #efefef;
  --gray: #d8d8d8;
  --dark-gray: #707070;

  // SERVICE COLORS
  --error: #d82700;
}

.dark {
  // MAIN COLORS
  --accent: #a18a68;
  --white: #ffffff;
  --black: #000000;

  // NEUTRAL
  --light-gray: #1e1e1e;
  --gray: #2a2a2a;
  --dark-gray: #d8d8d8;

  // SERVICE
  --error: #ff5a3c;
}

// MOBILE HEADERS
@media (max-width: 425px) {
  :root {
    --h1-fs: 20px;
    --h1-fw: 400;
    --h1-lh: 26px;

    --h2-fs: 16px;
    --h2-lh: 27px;
    --h1-lh: 22px;

    --h3-fs: 14px;
    --h3-fw: 400;
    --h3-lh: 22px;

    --h4-fs: 12px;
    --h4-fw: 400;
    --h4-lh: 20px;
  }
}

// BREAKPOINT
$bp-xs: 320px;
$bp-sm: 425px;
$bp-512: 512px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1200px;
$bp-xll: 1280px;

@mixin text($name) {
  font-size: var(--#{$name}-fs);
  font-weight: var(--#{$name}-fw, 400);
  line-height: var(--#{$name}-lh, normal);
  letter-spacing: var(--#{$name}-ls, normal);
}
